.troubleshooting {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--vscode-sideBar-background);
  gap: 1px solid var(--vscode-sideBar-border);
  height: 100%;
}

.troubleshooting__main {
  overflow: auto;
  flex-grow: 1;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--spacing-lg);
}

.troubleshooting__footer {
  flex-grow: 0;
  padding: var(--spacing-lg);
}

.troubleshooting__prompt {
  font-weight: var(--vscode-font-weight);
  font-size: var(--vscode-font-size);
  border-radius: var(--spacing-xxs);
  background-color: var(--vscode-editor-background);
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  min-height: 4rem;
  resize: vertical;
}

.troubleshooting__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
  fill: var(--vscode-foreground);
}

.troubleshooting__button--disabled {
  pointer-events: none;
  opacity: 0.5;
}

.troubleshooting__button--deselected {
  background-color: var(--vscode-disabledForeground);
}

.troubleshooting__button--submit {
  outline: none;
  border-radius: var(--spacing-xxs);
  font-size: var(--vscode-sidebar-font-size);
}

.troubleshooting__send_icon {
  fill: orange;
  width: var(--spacing-lg);
}

.troubleshooting__send_icon--disabled {
  opacity: 0.2;
}

.troubleshooting__message {
  border-radius: var(--spacing-sm);
  background-color: var(--vscode-settings-textInputBackground);
  padding: var(--spacing-md);
  line-height: 150%;
}

.troubleshooting__message--user {
  text-align: right;
  border-bottom-right-radius: 0;
  margin-left: 2rem;
}

.troubleshooting__message--feedback {
  margin-right: 2rem;
  padding: 0 0 0 var(--spacing-md);
  background-color: transparent;
  color: var(--vscode-list-deemphasizedForeground);
  display: flex;
  flex-direction: row;
}

.troubleshooting__message--assistance {
  border-bottom-left-radius: 0;
  margin-right: 2rem;
}

.troubleshooting__message--error {
  background: var(--vscode-inputValidation-errorBackground);
  border: var(--vscode-inputValidation-errorBorder);
}

.troubleshooting__message--warning {
  background: var(--vscode-inputValidation-warningBackground);
  border: var(--vscode-inputValidation-warningBorder);
}

.troubleshooting__message--running::after {
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: "";
}

@keyframes dotty {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

/* Components */

.troubleshooting__button_group {
  display: flex;
  flex-direction: row;
  border-radius: var(--spacing-sm);
  overflow: hidden;
}

.troubleshooting__code_block_action_button_group {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  border-radius: var(--spacing-sm);
  position: absolute;
  top: var(--spacing-sm);
  right: var(--spacing-sm);
  gap: -1px;
}

.troubleshooting__code_block_action_button_group > button:first-of-type {
  border-bottom-left-radius: var(--spacing-xxs);
  border-top-left-radius: var(--spacing-xxs);
}

.troubleshooting__code_block_action_button_group > button:last-of-type {
  border-bottom-right-radius: var(--spacing-xxs);
  border-top-right-radius: var(--spacing-xxs);
}

.troubleshooting__prompt_wrapper {
  position: relative;
}

.troubleshooting__prompt_submit_button {
  position: absolute;
  right: var(--spacing-md);
  bottom: var(--spacing-sm);
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--spacing-xxs);
}

/* Markdown re-formatting */

.troubleshooting__message > *:not(:last-child) {
  margin-bottom: var(--spacing-md);
}

.troubleshooting__message :is(h1, h2, h3, h4, h5, h6) {
  font-size: 1em;
  font-weight: bold;
}

.troubleshooting__message :is(h1, h2, h3, h4, h5, h6):not(:first-child) {
  margin-top: var(--spacing-md);
}

.troubleshooting__message :is(ol, ul) {
  margin-left: 1em;
}

.troubleshooting__message a {
  color: var(--vscode-foreground);
}

.troubleshooting__message pre {
  border-radius: var(--spacing-xs);
  background-color: var(--vscode-editor-background);
  outline: 1px solid var(--vscode-panel-border);
  overflow: hidden;
  position: relative;
}

.troubleshooting__code_block_action_button {
  position: relative;
  background: var(--vscode-button-secondaryBackground);
  border: 1px solid var(--vscode-panel-border);
  color: var(--vscode-settings-textInputForeground);
  padding: var(--spacing-md);
  fill: var(--vscode-button-secondaryForeground);
  margin: 0;
  width: var(--spacing-lg);
  height: var(--spacing-lg);
  outline: none;
}

.troubleshooting__message
  pre:hover
  .troubleshooting__code_block_action_button_group {
  visibility: visible;
}

.troubleshooting__code_block_action_button:hover {
  background-color: var(--vscode-button-secondaryHoverBackground);
}

.troubleshooting__code_block_action_button_icon {
  height: var(--spacing-lg);
  width: var(--spacing-lg);
  position: absolute;
  left: var(--spacing-xxs);
  top: var(--spacing-xxs);
}
