.troubleshooting {
  display: flex;
  flex-direction: column;
  background-color: var(--vscode-sideBar-background);
  gap: 1px solid var(--vscode-sideBar-border);
  padding: var(--spacing-md);
  height: 100%;
}

.troubleshooting__main {
  overflow: auto;
  flex-grow: 1;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.troubleshooting__input {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.troubleshooting__prompt {
  font-weight: var(--vscode-font-weight);
  font-size: var(--vscode-font-size);
  border-radius: var(--spacing-xxs);
  background-color: var(--vscode-editor-background);
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  min-height: 10rem;
  resize: vertical;
}

.troubleshooting__send_button {
  outline: none;
  border-radius: var(--spacing-xxs);
  font-size: var(--vscode-sidebar-font-size);
  transition: background-color 0.3s ease-in-out;
}

.troubleshooting__send_button--disabled {
  pointer-events: none;
}

.troubleshooting__send_icon {
  fill: orange;
  width: var(--spacing-lg);
}

.troubleshooting__send_icon--disabled {
  opacity: 0.2;
}

.troubleshooting__message {
  border-radius: var(--spacing-sm);
  background-color: var(--vscode-settings-textInputBackground);
  padding: var(--spacing-md);
}

.troubleshooting__message--user {
  text-align: right;
  border-bottom-right-radius: 0;
  margin-left: var(--spacing-lg);
}

.troubleshooting__message--feedback {
  border-bottom-left-radius: 0;
  margin-right: var(--spacing-lg);
}

.troubleshooting__message--assistance {
  border-bottom-left-radius: 0;
  margin-right: var(--spacing-lg);
  border: 1px solid var(--vscode-panel-border);
}

.troubleshooting__message--error {
  margin-right: var(--spacing-lg);
  background: var(--vscode-inputValidation-errorBackground);
}
